<window modal="true">
    <v-vertical-layout margin spacing width-auto :center>
        <!--v-label><h3>Login to Tasky</h3></v-label-->
        <v-panel caption="Login">
            <v-vertical-layout spacing margin>
                <v-form-layout spacing>
                    <v-text-field id="email" caption="Email"/>
                    <v-password-field id="password" caption="Password"/>
                </v-form-layout>

                <v-button id="signIn" style-name="primary" width-auto :right>Login</v-button>
            </v-vertical-layout>
        </v-panel>
    </v-vertical-layout>
</window>