<v-window>
    <v-vertical-layout margin spacing>
        <v-panel caption="Image">
            <v-vertical-layout spacing margin>
                <v-horizontal-layout spacing>

                    <v-vertical-layout margin spacing>
                        <v-panel id="imagePanel">
                            <v-embedded id="showImage" width="300px" height="340px" :center>
                            </v-embedded>
                        </v-panel>
                    </v-vertical-layout>

                    <v-vertical-layout spacing width="300px">
                        <v-panel style-name="simple" width-full height="200px">
                            <v-vertical-layout id="imageCommentsLayout" margin spacing>

                            </v-vertical-layout>
                        </v-panel>
                        <v-vertical-layout id="newCommentLayout" size-full spacing>
                            <v-text-area id="newComment" width-full/>
                            <v-button id="addCommentBtn" style-name="small" width-auto :right>Add Comment</v-button>
                        </v-vertical-layout>
                    </v-vertical-layout>

                </v-horizontal-layout>

            </v-vertical-layout>
        </v-panel>
    </v-vertical-layout>
</v-window>