<window modal="true">
    <v-vertical-layout margin spacing width-auto :center>
        <!--v-label><h3>Login to Tasky</h3></v-label-->
        <v-panel caption="Sign Up">
            <v-vertical-layout spacing margin>
                <v-form-layout spacing>
                    <v-text-field id="firstName" required input-prompt="First Name" caption="First name"/>
                    <v-text-field id="lastName" required input-prompt="Last Name" caption="Last Name"/>
                    <v-text-field id="email" required input-prompt="Email" caption="Email"/>
                    <v-password-field id="password" required caption="Password"/>
                    <v-password-field id="confirmPassword" required caption="Confirm Password"/>
                </v-form-layout>

                <v-button id="signUp" style-name="primary" width-auto :right>Sign Up</v-button>
            </v-vertical-layout>
        </v-panel>
    </v-vertical-layout>
</window>