<v-window>
    <v-vertical-layout margin spacing>
        <v-panel caption="Upload image">
            <v-vertical-layout spacing margin>
                <v-horizontal-layout spacing>

                    <v-vertical-layout margin spacing>
                        <v-panel id="imagePanel">
                            <v-embedded id="uploadImage" width="200px" height="230px" :center>
                            </v-embedded>
                        </v-panel>

                        <v-upload id="loadImage" style-name="small" width-auto :center>Load image</v-upload>
                    </v-vertical-layout>

                </v-horizontal-layout>

                <v-button id="saveImage" style-name="primary" width-auto :right>Save</v-button>
            </v-vertical-layout>
        </v-panel>
    </v-vertical-layout>
</v-window>