<v-vertical-layout size-full>
    <v-horizontal-layout width-auto spacing :right>
        <v-button id="uploadBtn" style-name="link" visible="false">Upload</v-button>
        <v-button id="logoutBtn" style-name="link" visible="false">Logout</v-button>
        <v-button id="signBtn" style-name="link">Sign up</v-button>
        <v-button id="loginBtn" style-name="link">Login</v-button>
    </v-horizontal-layout>

    <v-vertical-layout margin size-full :expand>
    <v-panel style-name="simple" height="100%">
        <v-vertical-layout id="photoLayout" margin>
            <v-grid-layout id="imageLayout" spacing>

            </v-grid-layout>
        </v-vertical-layout>
    </v-panel>
    </v-vertical-layout>
</v-vertical-layout>